.category_select {
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
}


.radio_group {
    width: 100%;
    /* 라디오 버튼 그룹이 부모 너비에 맞게 설정 */
}

.imageGroupContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
    padding-right: 330px;
    padding-left: 330px;
    padding-top: 200px;

}

.imageGroupItem {
    flex: 1 1 calc(25% - 10px);
    /* 너비를 25%로 설정하고, 이미지 사이에 간격을 유지 */
    margin: 5px;
    /* 이미지 사이 간격 설정 */
    margin-top: 10px;
}

.nineozimg {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    /* 이미지를 수평 가운데로 정렬 */
}

.subcategorybtn {
    justify-content: center;
}

.product_info {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.prdname {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product_info p {
    margin: 5px;
}