.formControl {
    margin: 8px;
    min-width: 120px;
  }
  
  .select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }
  
  .select:focus {
    border-color: yellow;
  }
  